<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>离职员工资料</title>
<link rel="stylesheet" type="text/css"
	href="../../css/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="../../css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../../css/common/main.css" />
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="js/departureData.js"></script>
<script src="../../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="js/datagrid-export.js"></script>
</head>
<style type="text/css">
.sp {
	font-weight: bold;
	text-align: right;
}

#loading {
	display: none;
}

#bg {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 1001;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
}

#loading {
	display: none;
	position: absolute;
	top: 25%;
	left: 22%;
	padding: 8px;
	z-index: 1002;
	overflow: auto;
}
</style>
<body>

	<table class="btbHead">
		<tr>
			<td style='width: 25%;' colspan="3"><img
				src='../../images/common/title.gif' align='absmiddle' />离职员工资料</td>
		</tr>
	</table>
	<table class="btbForm">
		<tr>
			<td text-algin="left" style="width: 65%">
				<form id="form_search" method="post">
					<input id="searchMo" name="searchMo" class="easyui-textbox"
						data-options="prompt:'请输入想要查询的信息'"
						style="width: 150px;" id="searchMo" /> 
				   &nbsp;&nbsp;民族：<input class="easyui-textbox" data-options="prompt:'请输入民族'"
						style="width: 100px" name="nation">
				&nbsp; &nbsp;  户口类型：<select id="cc"
						class="easyui-combobox" name="registered" style="width: 120px;"
						data-options="editable:false,panelHeight:'auto'">
						<option value="">请选择户口类型</option>
						<option>城镇</option>
						<option>农村</option>
					</select>
					&nbsp;&nbsp;学历：<input class="easyui-textbox" data-options="prompt:'请输入学历'"
						style="width: 100px" name="education">
					&nbsp;&nbsp;姓名：<input class="easyui-textbox" data-options="prompt:'请输入姓名'"
						style="width: 100px" name="userName">
			&nbsp;	&nbsp;	部门：<input id="bm" name="wpName" style="width:90px;"/>
					&nbsp;&nbsp;岗位名称：<input class="easyui-textbox" data-options="prompt:'请输入岗位名称'"
						style="width: 120px" name="postName">
					&nbsp;&nbsp;岗位级别： <select id="cc"
						class="easyui-combobox" name="wdName" style="width: 90px;"
						data-options="editable:false,panelHeight:'auto'">
						<option value=''>请选择岗位级别</option>
						<option>经理</option>
						<option>主管</option>
						<option>专员</option>
						<option>顾问</option>
					</select>
					&nbsp;&nbsp;试岗期天数：<input class="easyui-numberbox" data-options="prompt:'天数'"
						style="width: 50px" name="postponeTime1"> ~<input class="easyui-numberbox" data-options="prompt:'天数'"
						style="width: 50px" name="postponeTime2">
					&nbsp;&nbsp;到岗日期：<input class="easyui-datebox" data-options="prompt:'日期'"
						style="width: 100px" id="startWorkTime1" name="startWorkTime1"> ~<input class="easyui-datebox" data-options="prompt:'日期'"
						style="width: 100px" id="startWorkTime2" name="startWorkTime2">	
				&nbsp;&nbsp;	工龄：<input class="easyui-numberbox" data-options="prompt:'工龄'"
						style="width: 50px" name="workAge1"> ~<input class="easyui-numberbox" data-options="prompt:'工龄'"
						style="width: 50px" name="workAge2">
					&nbsp;&nbsp;<select id="cc"
						class="easyui-combobox" name="isOfficial" style="width: 120px;"
						data-options="editable:false,panelHeight:'auto'">
						<option value="">请选择正式/试用</option>
						<option>正式</option>
						<option>试用</option>
					</select>
					&nbsp;<select id="cc"
						class="easyui-combobox" name="contractType" style="width: 120px;"
						data-options="editable:false,panelHeight:'auto'">
						<option value="">请选择合同类别</option>
						<option>正式合同</option>
						<option>试用合同</option>
						<option>未签</option>
					</select>
					&nbsp;&nbsp;年龄：<input class="easyui-numberbox" data-options="prompt:'年龄'"
						style="width: 50px" name="age1"> ~<input class="easyui-numberbox" data-options="prompt:'年龄'"
						style="width: 50px" name="age2">
					 <a href="javascript:doMoSearch()"
						id="searchBtn" class="easyui-linkbutton" iconCls="icon-search">&nbsp;查&nbsp;&nbsp;询&nbsp;</a>
					
					<a href="javascript:doDelete()" id="deleteBtn"
						class="easyui-linkbutton" iconCls="icon-remove">&nbsp;删&nbsp;&nbsp;除&nbsp;</a>
					<a href="javascript:clearForm()"
						 class="easyui-linkbutton" iconCls="icon-search">&nbsp;重&nbsp;&nbsp;置&nbsp;</a>
					<!-- <a href="javascript:doModify()" id="modifyBtn"
						class="easyui-linkbutton" iconCls="icon-edit">&nbsp;修&nbsp;&nbsp;改&nbsp;</a>
						  -->
					<span id="span">
						<a href="/training/exportPerson.json" id="doExport"
							class="easyui-linkbutton" iconCls="icon-remove">&nbsp;导出全部数据</a>
							<a href="/training/exportPersonDq.json" id="a"
							class="easyui-linkbutton" iconCls="icon-remove">&nbsp;导出当前数据</a>
					</span>
							
					
					</form>
			</td>
		</tr>
	</table>

	<div style="margin: 5px;"></div>

<!-- 修改选项界面 -->
	<div id="personnelTest_mod_div" class="easyui-dialog" style="height:100px;width:400px;" 
	data-options="buttons:'#personnelTest_mod_btn',closed:true,modal:true">
		 <form action="post" id="personnelTest_mod_form" enctype="multipart/form-data">
			<table id="personnelTest_mod_tab" style="width: 380px">
				<tr>
					<td style="text-align: center;">
						<input type="radio" checked="checked" name="cho" value=0>修改当前选中信息
						<input type="radio" name="cho" value=1>调整为在职员工
						<input type="radio" name="cho" value=2>调整为离职员工
					</td>
				</tr>
				
			</table>
		</form>		 
		<div id="personnelTest_mod_btn">
			<a id="mod_submitBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">提交</a>
			<a id="mod_closeBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'">关闭</a>    
		</div>
	</div>



	<!-- 功能列表 -->
	<table id="t" class="easyui-datagrid" 
		data-options="singleSelect:true,pagination:true,pageSize:'10',remoteSort: true,striped:true,url:'/training/showDepartureData.json'">
		<thead>
			<tr>
				<th data-options="field:'wpName',width:'5%'">所属部门</th>
				<th data-options="field:'postName',width:'5%'">岗位名称</th>
				<th data-options="field:'wdName',width:'4%'">岗位级别</th>
				<th data-options="field:'userName',width:'5%'">姓名</th>
				<th data-options="field:'userSex',width:'3%'">性别</th>
				<th data-options="field:'identityCard',width:'8%'">身份证号</th>
				<th data-options="field:'postponeTime',width:'3%',sortable:true">试岗期</th>
				<th data-options="field:'startWorkTime',width:'6%',sortable:true">到岗日期</th>
				<th data-options="field:'dimissionTime',width:'5%',sortable:true">离职日期</th>
				<th data-options="field:'workAge',width:'4%',sortable:true">工龄</th>
				<th data-options="field:'birDate',width:'6%',sortable:true">出生日期</th>
				<th data-options="field:'age',width:'3%',sortable:true">年龄</th>
				<th data-options="field:'nation',width:'3%'">民族</th>
				<th data-options="field:'registered',width:'3%'">户口</th>
				<th data-options="field:'education',width:'3%'">学历</th>
				<th data-options="field:'contactTel',width:'6%'">联系电话</th>
				<th data-options="field:'isOfficial',width:'6%'">正式/试用</th>
				<th data-options="field:'contractType',width:'6%'" >合同类别</th>
				<th data-options="field:'userIdCardAddress',width:'10%'">身份证地址</th>
				<th data-options="field:'remark',width:'5%'">备注</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>



	<!-- 增加页面 -->
	<div id="personnelTest_div" class="easyui-dialog" style="height:320px;width:400px;" 
	data-options="buttons:'#personnelTest_btn',closed:true,modal:true">
		<form action="post" id="personnelTest_form" enctype="multipart/form-data">
			<input type="hidden" id="cId" name="userId">
			<input type="hidden" name="fileNumber">
			<input type="hidden" name="dimissionTime">
			<input type="hidden" name="turnOfficalTime">
			<input type="hidden" name="birDate">
			<input type="hidden" name="birMounth">
			<input type="hidden" name="birYear">
			<input type="hidden" name="age">
			<input type="hidden" name="isOfficial">
			<input type="hidden" name="contractType">
			<input type="hidden" name="workAge">
			<input type="hidden" name=userIdCardAddress>
			<input type="hidden" name="contractTime">
			<input type="hidden" name="contractEndTime">
			<input type="hidden" name="contractDeadline"> 
			<input type="hidden" name = "sign">         			 
			<table id="personnelTest_tab">
				<tr><td></td><td></td></tr>
				<tr>
					<td>
						<span class="sp">所属部门</span>
					</td>
					<td>
						<input data-options="width:200" name="wpId" id="wpIdTest"/>
						 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">岗位名称</span>
					</td>
					<td>
						<input data-options="width:200" class="easyui-textbox" name="postName" id="addWostName"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">岗位级别</span>
					</td>
					<td>
						<input data-options="width:200" name="wdId" id="wdIdTest"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">姓名</span>
					</td>
					<td>
						<input class="easyui-textbox" name="userName" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">性别</span>
					</td>
					<td>
						<select id="endMounth" class="easyui-combobox" name="userSex" style="width:200px;">      
						    <option value="">请选择</option>
						    <option value="保密">保密</option>
						    <option value="男">男</option>   
						    <option value="女">女</option>
						    			         					    
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">身份证号</span>
					</td>
					<td>
						<input class="easyui-textbox" name="identityCard" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">试岗开始日期</span>
					</td>
					<td>
						<input class="easyui-datebox" name="practiceStart" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">试岗天数</span>
					</td>
					<td>
						<input class="easyui-textbox" name="practiceNumber" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">民族</span>
					</td>
					<td>
						<input class="easyui-textbox" name="nation" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">户口</span>
					</td>
					<td>
						<select id="addRegistered" class="easyui-combobox" name="registered" style="width:200px;">      
						    <option value="">请选择</option>
						    <option value="城镇">城镇</option>   
						    <option value="农村">农村</option>
						    			         					    
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">学历</span>
					</td>
					<td>
						<input class="easyui-textbox" name="education" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">联系电话</span>
					</td>
					<td>
						<input class="easyui-numberbox" name="contactTel" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">备注</span>
					</td>
					<td>
						<input class="easyui-textbox" name="remark" id="remark" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">是否延期</span>
					</td>
					<td>
						<input id="aa" type="checkbox" value="延期" name="isPostpone"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">延期天数</span>
					</td>
					<td>
						<input id="testPostponeNumber" class="easyui-numberbox" name="postponeNumber" style="width:200px;"/>
					</td>
				</tr>
			</table>
		</form>		
		<div id="personnelTest_btn">
			<a id="submitBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">提交</a>
			<a id="closeBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'">关闭</a>    
		</div>
	</div>

<!-- 在职员工新增页面 -->
	<div id="personnel_official_div" class="easyui-dialog" style="height:320px;width:400px;" 
	data-options="buttons:'#personne_official_btn',closed:true,modal:true">
		<form action="post" id="personnel_official_form" enctype="multipart/form-data">
			<input type="hidden" id="cId" name="userId"> 
			<input type="hidden" name="fileNumber">
			<input type="hidden" name="dimissionTime">
			<input type="hidden" name="turnOfficalTime">
			<input type="hidden" name="birDate">
			<input type="hidden" name="birMounth">
			<input type="hidden" name="birYear">
			<input type="hidden" name="age">
			<input type="hidden" name="isOfficial">
			<input type="hidden" name="contractType">
			<input type="hidden" name="workAge">
			<input type="hidden" name=userIdCardAddress>
			<input type="hidden" name="contractTime">
			<input type="hidden" name="contractEndTime">
			<input type="hidden" name="contractDeadline">  
			<input type="hidden" name = "sign">               
			<table id="personnel_official_tab">
				<tr><td></td><td></td></tr>
				<tr>
					<td>
						<span class="sp">所属部门</span>
					</td>
					<td>
						<input data-options="width:200" name="wpId" id="addWpId"/>
						 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">岗位名称</span>
					</td>
					<td>
						<input data-options="width:200" class="easyui-textbox" name="postName" id="addWostName"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">岗位级别</span>
					</td>
					<td>
						<input data-options="width:200" name="wdId" id="addWdId"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">姓名</span>
					</td>
					<td>
						<input class="easyui-textbox" name="userName" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">性别</span>
					</td>
					<td>
						<select id="endMounth" class="easyui-combobox" name="sex" style="width:200px;">      
						    <option value="">请选择</option>
						    <option value="保密">保密</option>
						    <option value="男">男</option>   
						    <option value="女">女</option>
						    			         					    
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">身份证号</span>
					</td>
					<td>
						<input class="easyui-textbox" name="identityCard" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">到岗日期</span>
					</td>
					<td>
						<input class="easyui-datebox" name="startWorkTime" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">民族</span>
					</td>
					<td>
						<input class="easyui-textbox" name="nation" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">户口</span>
					</td>
					<td>
						<select id="addRegistered" class="easyui-combobox" name="registered" style="width:200px;">      
						    <option value="">请选择</option>
						    <option value="城镇">城镇</option>   
						    <option value="农村">农村</option>
						    			         					    
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">学历</span>
					</td>
					<td>
						<input class="easyui-textbox" name="education" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">联系电话</span>
					</td>
					<td>
						<input class="easyui-numberbox" name="contactTel" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">正式/试用</span>
					</td>
					<td>
						<select id="isOfficial" class="easyui-combobox" name="isOfficial" style="width:200px;">      
						    <option value="">请选择</option>
						    <option value="正式">正式</option>   
						    <option value="试用">试用</option>						    			         					    
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">合同类别</span>
					</td>
					<td>
						<select id="contractType" class="easyui-combobox" name="contractType" style="width:200px;">      
						    <option value="">请选择</option>
						    <option value="正式">正式</option>   
						    <option value="试用">试用</option>		
						    <option value="未签">未签</option>					    			         					    
						</select> 
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">转岗日期</span>
					</td>
					<td>
						<input class="easyui-datebox" name="turnOfficialTime" style="width:200px;"/>
					</td>
				</tr>
				<tr>
					<td>
						<span class="sp">备注</span>
					</td>
					<td>
						<input class="easyui-textbox" name="remark" id="remark" style="width:200px;"/>
					</td>
				</tr>
			</table>
		</form>		
		<div id="personne_official_btn">
			<a id="submitOfficialBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">提交</a>
			<a id="closeOfficialBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'">关闭</a>    
		</div>
	</div>



	<!-- 弹出框底部的按钮 -->
	<div id="btn_dlg" style="display: none; text-align: right;">
		<a href="javascript:doSave()" class="easyui-linkbutton"
			iconCls="icon-save">保存</a> <a href="javascript:doCancel()"
			class="easyui-linkbutton" iconCls="icon-cancel">取消</a> <a
			href="javascript:doRest()" class="easyui-linkbutton"
			iconCls="icon-reload">重置</a>
	</div>



	<div id="bg"></div>
	<div id="loading">
		<p>
		<h2>正在操作中，请耐心等候~~</h2>
		</p>
		<img src="image/loading.gif" />
	</div>
	

</body>
</html>