<!DOCTYPE html>
<html>
  <head>
    <title>metamanage.html</title>
	
    <meta charset="UTF-8">
	<meta name="content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../../css/common/main.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../../css/themes/icon.css">
	
	<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	
	<script type="text/javascript" src="../../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../../js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../../js/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../../js/common.js"></script>
	
	<script type="text/javascript" src="js/metamanage.js" charset="UTF-8"></script>
	
  </head>
  
  <body>
    <!-- 标题以及各种功能按钮 -->
    <table style="width:100%;padding:5px;">
    	<tr>
    		<td style="width:25%">
    			<img src='../../../themes/default/images/common/title.gif' style="vertical-align:middle;">元数据管理
    		</td>
    		<td style="text-align: right;">
    			<a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="queryMetamanage()">&nbsp;查&nbsp;&nbsp;询&nbsp;</a>
    			<a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="addMetamanage()">&nbsp;新&nbsp;&nbsp;增&nbsp;</a>
				<a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="modifyMetamanage()">&nbsp;修&nbsp;&nbsp;改&nbsp;</a>
				<a class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="createTable()">&nbsp;生&nbsp;成&nbsp;表&nbsp;</a>
				<a class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="removeMetamanage()">&nbsp;删&nbsp;&nbsp;除&nbsp;</a>
    		</td>
    	</tr>
    </table>

  	<!-- 选择不同获取不同的信息 -->
	<table class="btbForm">
		<tr>
			<td>关键字&nbsp; <input id="keyWord" name="keyWord" class="easyui-textbox" data-options="prompt:'输入表名、实体名'" style="height:20px;">&nbsp;
			</td>
		</tr>
	</table>
  	
  	
  	<!-- 定义外边距 -->
	<div style="margin-top:5px"></div>
  	
  	<!-- 定义datagrid数据网格 -->
	<div id="metamanage_div">
		<table id="metamanage_dg" style="width:100%;" class="easyui-datagrid"
			data-options="pagination:true,pageSize:20,striped:true,autoRowHeight:true,rownumbers:true">
			<thead>
				<tr>
					<th data-options="field:'ck',checkbox:'true',hidden:true"></th>
					
					<th data-options="field:'tableName',alias:'a.table_name',align:'left',halign:'center',sortable:'true'" style="width:20%">表名</th>
					<th data-options="field:'tableDesc',alias:'a.table_desc',align:'left',halign:'center',sortable:'true'" style="width:30%">表描述</th>
					<th data-options="field:'tableTypeDesc',alias:'a.table_type',align:'left',halign:'center',sortable:'true'" style="width:15%">分类</th>
					<th data-options="field:'entityName',alias:'a.entity_name',align:'left',halign:'center',sortable:'true'" style="width:15%">实体名</th>
					<th data-options="field:'entityDesc',alias:'a.entity_desc',align:'left',halign:'center',hidden:true">实体描述</th>
					<th data-options="field:'isUsed',alias:'a.is_used',align:'center',halign:'center',sortable:'true',formatter:isUsedFormatter" style="width:10%">是否有效</th>
					<th data-options="field:'sortNo',alias:'a.sort_no',align:'center',halign:'center',sortable:'true',hidden:true">顺序号</th>
					<th data-options="field:'detail',align:'center',halign:'center',formatter:detailFormatter" style="width:7%">操作</th>
				</tr>
			</thead>
		</table>
	</div>

	<!-- 新增、修改页面 -->
	<div id="dialog_add_modify" style="display: none;"></div>
	
	<!--选择代码类型页面 -->
	<div id="dialog_metamanage_dicttype" style="display: none;"></div>
	
	<!-- 详情页面 -->
	<div id="dialog_detail" style="display: none;"></div>
	
	<!-- 新增_修改字段页面 -->
	<div id="dialog_column_add_modifycolumn" style="display: none;"></div>

	<!-- 字段详情页面 -->
	<div id="dialog_column_detail" style="display: none;"></div>

	<!-- 新增、修改枚举信息页面 -->
	<div id="dialog_column_enum_add_modify" style="display: none;"></div>

  </body>
</html>
