<!DOCTYPE html>
<html>
  <head>
    <title>editenumhtml.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
  </head>
  
  <body>
    <div id="editenum_am"  data-options="buttons:'#editenum_btns'" style="width: 250px;height: 150px;">
	    <form id="editenum_fm">
	    	<table style="border-collapse:separate; border-spacing:0px 10px;">
	    		<tr>
	    			<td style="text-align: right;width: 60px;">值</td>
	    			<td style="width: 180px;"><input class="easyui-textbox" id="value" name="value" style="width: 150px;" data-options="missingMessage: '请输入值'"></td>
	    		</tr>
	    		<tr>
	    			<td style="text-align: right;">文本</td>
	    			<td><input class="easyui-textbox" id="text" name="text" style="width: 150px;" data-options="required: true, missingMessage: '请输入文本'"></td>
	    		</tr>
	    	</table>
	    </form>
  	</div>
  	<div id="editenum_btns" style="text-align: center;">
  		<a class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveEditEnum()">保存</a>
  		<a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeEditEnum()">关闭</a>
  	</div>
  </body>
</html>
