<!DOCTYPE html>
<html>
  <head>
    <title>confirmCost.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <script type="text/javascript" src="../busiRent/js/confirmCost.js"></script>
	<style type="text/css">
		.tablefont{
			font-size: 15px
		}
	</style>
  </head>
  
  <body>
			<div id="detailsPage" style="width: 800px;padding:0;margin:0;background:white;border:0px solid rgba(204, 204, 204, 1);float:left">
		    	
		    	<!-- 详情 -->
		    	<div style="width:100%;float:left;padding:0;margin:0;border-top:0px solid rgba(204, 204, 204, 1);font-size: 14px;">
		    	
		    		<table style="width:800px;height:100%">
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="商品信息"     
	       						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
	       						data-options="closable:false,    
	               				collapsible:false,minimizable:false,maximizable:false">
	               					<table id="details_table" collapse="10px" style="width:100%;margin-top:5px;border:0px solid red" >
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							商品编号：
				    						</td>
				    						<td>
				    							<p id="goodsIdP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							来源门店：
				    						</td>
				    						<td>
				    							<p id="shopCodeP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td  style="width:25%;text-align: right;">
				    							提交人：
				    						</td>
				    						<td>
				    							<p id="inputUserP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							提交时间：
				    						</td>
				    						<td>
				    							<p id="inputDateP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							商品分类：
				    						</td>
				    						<td>
				    							<p id="catCodeP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							商品名称：
				    						</td>
				    						<td>
				    							<p id="goodsNameP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							商品品牌：
				    						</td>
				    						<td>
				    							<p id="goodsBrandP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							商品货号：
				    						</td>
				    						<td>
				    							<p id="articleNumberP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							客户首买价：
				    						</td>
				    						<td>
				    							<p  style="padding:0;margin:0;width:240px"><span id="firstPriceP"></span>元</p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							商品描述：
				    						</td>
				    						<td style="">
				    							<p id="goodsDescP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							原估价：
				    						</td>
				    						<td>
				    							<p id="inputValuationP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							现估价：
				    						</td>
				    						<td>
				    							<p id="inputNewValuationP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							原租价：
				    						</td>
				    						<td>
				    							<p id="inputRentPriceP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							现租价：
				    						</td>
				    						<td>
				    							<p id="inputNewRentPriceP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
			    					</table>
	               				</div>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="商品属性"     
	       						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
	       						data-options="closable:false,    
	               				collapsible:false,minimizable:false,maximizable:false">
	               					<div id="goodsAttrDiv" style="width:100%;height:100%;margin:auto;border:0px red solid">
			    						<table id="details_table" collapse="10px" style="width:100%;margin-top:5px;border:0px solid red" >
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							产地：
					    						</td>
					    						<td>
					    							<p name="modePlace" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    						<td style="width:25%;text-align: right;">
					    							年代：
					    						</td>
					    						<td>
					    							<p name="nianDai" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    					</tr>
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							适用人群：
					    						</td>
					    						<td>
					    							<p name="fitPeople" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    						<td style="width:25%;text-align: right;">
					    							颜色：
					    						</td>
					    						<td>
					    							<p name="color" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    					</tr>
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							材质：
					    						</td>
					    						<td>
					    							<p name="caiZi" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    						<td style="width:25%;text-align: right;">
					    							重量：
					    						</td>
					    						<td>
					    							<p name="weight" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    					</tr>
				    					</table>
			    					</div>
	               				</div>
	               			</td>
		    			</tr>
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="商品图片"     
	       						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
	       						data-options="closable:false,    
	               				collapsible:false,minimizable:false,maximizable:false">
	               					<div id="goodsImages"  style="width:100%;height:100%;margin:auto;border:0px red solid;text-align: center">
	   								
	  									</div>
	               				</div>
	               			</td>
		    			</tr>
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="租赁信息"     
	       						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
	       						data-options="closable:false,    
	               				collapsible:false,minimizable:false,maximizable:false">
	               				<form id="rentData" class="easyui-form">
								     <table id="comfirmTable" class="tablefont" style="border-collapse: separate;border-spacing: 5px;margin-top:10px">
										<tr>
									  		<td style="text-align: right;width: 120px;">前期收款:&nbsp;</td>
									  		<td style="text-align: left;width:200px">
									  			<span name="payAmount"></span>
									  		</td>
									  		<td style="text-align: right;width: 120px;">租赁周期:&nbsp;</td>
									  		<td style="text-align: left;width:300px">
									  			<span name="zhouqi"></span>
									  		</td>
									  	</tr>  					
									  	<tr>
									  		<td style="text-align: right;">租金:&nbsp;</td>
									  		<td style="text-align: left;">
												<span name="zujin"></span>
									  		</td>
									  		<td style="text-align: right;width: 100px;">折旧费:&nbsp;</td>
									  		<td style="text-align: left;">
									  			<span name="zhejiufei"></span>
									  		</td>
									  	</tr>
									  	<tr>
									  		<td style="text-align: right;">应退金额:&nbsp;</td>
									  		<td style="text-align: left;">
									  			<span name="shouldBack"></span>
									  		</td>
									  	</tr>
									</table>
			    				</form>
	               				</div>
		    				</td>
		    			</tr>
		    		</table>
		    	</div>
			</div>  
		<!-- form表单按钮 -->
		<div id="sc_form">
			<a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="comfirmCost('1')">确认收款金额</a>
			<a class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="comfirmCost('0')">调整金额</a>
			<a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="refresh()">关闭</a>
		</div>
  </body>
</html>
