<!DOCTYPE html>
<html>
  <head>
    <title>perfectEmpInfo.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../busiRent/js/identify.js"></script>
  </head>
  	<body>
		<div id="detailsPage" style="width: 800px;padding:0;margin:0;background:white;border:0px solid rgba(204, 204, 204, 1);float:left">
		    	<!-- 详情 -->
		    	<div style="width:100%;float:left;padding:0;margin:0;border-top:0px solid rgba(204, 204, 204, 1);font-size: 14px;">
		    	
		    		<table style="width:800px;height:100%">
						 <tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="商品信息"     
	       						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
	       						data-options="closable:false,    
	               				collapsible:false,minimizable:false,maximizable:false">
	               					<table id="details_table" collapse="10px" style="width:100%;margin-top:5px;border:0px solid red" >
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							商品编号：
				    						</td>
				    						<td>
				    							<p id="goodsIdP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							来源门店：
				    						</td>
				    						<td>
				    							<p id="shopCodeP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td  style="width:25%;text-align: right;">
				    							提交人：
				    						</td>
				    						<td>
				    							<p id="inputUserP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							提交时间：
				    						</td>
				    						<td>
				    							<p id="inputDateP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							商品分类：
				    						</td>
				    						<td>
				    							<p id="catCodeP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							商品名称：
				    						</td>
				    						<td>
				    							<p id="goodsNameP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							商品品牌：
				    						</td>
				    						<td>
				    							<p id="goodsBrandP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							商品货号：
				    						</td>
				    						<td>
				    							<p id="articleNumberP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
				    					<tr>
				    						<td style="width:25%;text-align: right;">
				    							客户首买价：
				    						</td>
				    						<td>
				    							<p  style="padding:0;margin:0;width:240px"><span id="firstPriceP"></span>元</p>
				    						</td>
				    						<td style="width:25%;text-align: right;">
				    							商品描述：
				    						</td>
				    						<td style="">
				    							<p id="goodsDescP" style="padding:0;margin:0;width:240px"></p>
				    						</td>
				    					</tr>
			    					</table>
	               				</div>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="商品属性"     
	       						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
	       						data-options="closable:false,    
	               				collapsible:false,minimizable:false,maximizable:false">
	               					<div id="goodsAttrDiv" style="width:100%;height:100%;margin:auto;border:0px red solid">
			    						<table id="details_table" collapse="10px" style="width:100%;margin-top:5px;border:0px solid red" >
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							产地：
					    						</td>
					    						<td>
					    							<p name="modePlace" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    						<td style="width:25%;text-align: right;">
					    							年代：
					    						</td>
					    						<td>
					    							<p name="nianDai" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    					</tr>
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							适用人群：
					    						</td>
					    						<td>
					    							<p name="fitPeople" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    						<td style="width:25%;text-align: right;">
					    							颜色：
					    						</td>
					    						<td>
					    							<p name="color" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    					</tr>
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							材质：
					    						</td>
					    						<td>
					    							<p name="caiZi" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    						<td style="width:25%;text-align: right;">
					    							重量：
					    						</td>
					    						<td>
					    							<p name="weight" style="padding:0;margin:0;width:240px"></p>
					    						</td>
					    					</tr>
				    					</table>
			    					</div>
	               				</div>
	               			</td>
		    			</tr>
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="源商品图片"     
        						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<div id="goodsImages"  style="width:100%;height:100%;margin:auto;border:0px red solid;text-align: center">
	   								
   									</div>
                				</div>
                			</td>
		    			</tr>
		    			 <tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="新商品图片"     
        						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<div id="newGoodsImages"  style="width:100%;height:100%;margin:auto;border:0px red solid;text-align: center">
	   								
   									</div>
                				</div>
                			</td>
		    			</tr>
		    			<tr>
		    				<td style="width:97%">
		    					<div id="p" class="easyui-panel" title="鉴定记录"     
        						style="width:96%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<div id="goodsImages"  style="width:100%;height:100%;margin:auto;border:0px red solid;text-align: center">
	   									<div id="historyIdentify" style="width:100%;height:100%;margin:auto;border:0px red solid">
				    						<form id="identifyForm" class="easyui-form">
			    								<table  title="历史鉴定记录" style="width:61%;margin-top: 5px">
			    									<tr>
			    										<td style="text-align: right;width:25%">新旧程度</td>
			    										<td style="text-align: left;width:auto"><select id="oldOrNewSelect" name="goodsQuality" class="easyui-combobox"></select></td>
			    										<td style="text-align: left;"><a onclick="queryHistoryIdentify()" href="#" style="color:blue">历史鉴定记录(<span id="historyIdentifyCount"></span>条)</a></td>
			    									</tr>
			    									<tr>
			    										<td style="text-align: right;width:25%">备注</td>
			    										<td style="text-align: left;width:25%" valign="top" colspan="2"><input type="text" class="easyui-textbox" name="identifyDesc"  data-options="multiline:true" style="height:60px;width:287px"></td>
			    									</tr>
			    									<tr>
			    										<td style="text-align: right;width:25%"></td>
			    										<td style="text-align: left;" colspan="2">
			    											<a  href="#" onclick="identifyOprate('01')" class="easyui-linkbutton" iconCls="icon-ok">资料完善</a>
			    											<!-- <a	href="#" onclick="identifyOprate('01')" style="margin-left: 10px" href="#" class="easyui-linkbutton" iconCls="icon-no">鉴定为假货</a> -->
			    											<a	href="#" onclick="identifyOprate('02')" style="margin-left: 10px" href="#" class="easyui-linkbutton" iconCls="icon-redo">资料不全</a>
			    										</td>
			    									</tr>
			    								</table>
		    								</form>
		    							</div>
		    							
   									</div>
                				</div>
                			</td>
		    			</tr>
		    			<!--  <tr id="goodsAssessTr">
		    				<td style="width:100%">
		    					<div id="p" class="easyui-panel" title="评估记录"     
        						style="width:100%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="iconCls:'icon-save',closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<div id="goodsAssess" style="width:100%;height:100%;margin:auto;border:0px red solid">
			    						<form id="assessForm" class="easyui-form" method="post">
			    							<table style="width: 100%;margin-top: 5px">
		    									<tr>
		    										<td style="width:25%;text-align: right">官方价</td>
		    										<td style="width:25%"><input type="text" id="officialPrice" name="officialPrice" class="easyui-textbox">元</td>
		    										<td><a href="#" onclick="queryHistoryAssess()" style="color:blue;">历史估价记录(<span id="historyAssessCount"></span>条)</a></td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right">评估价</td>
		    										<td colspan="2"><input type="text" id="valuationPrice" name="valuationPrice" class="easyui-textbox">元</td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right">典当价</td>
		    										<td colspan="2"><input type="text" id="pawnPrice" name="pawnPrice" class="easyui-textbox">元</td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right">收购价</td>
		    										<td colspan="2"><input type="text" id="rchasePrice" name="rchasePrice" class="easyui-textbox">元</td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right">售卖价</td>
		    										<td colspan="2"><input type="text" id="sellingPrice" name="sellingPrice" class="easyui-textbox">元</td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right">租价</td>
		    										<td colspan="2"><input type="text" id="rentalPrice" name="rentalPrice" class="easyui-textbox">元/天</td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right">备注</td>
		    										<td colspan="2"><input type="text" id="appraiseDesc" name="appraiseDesc" class="easyui-textbox" data-options="multiline:true" style="height:60px;width:287px"></td>
		    									</tr>
		    									<tr>
		    										<td style="width:25%;text-align: right"></td>
		    						 				<td colspan="2"><a	href="#" onclick="doAssess()" style="margin-left: 10px" href="#" class="easyui-linkbutton" iconCls="icon-ok">确认估价</a></td>
		    									</tr>
		    								</table>
			    						</form>
	    								
	    							</div>
	    							
	    							<div id="ShowHistoryAssessItems" >
	    								<table id="showhistoryAssessTable" class="easyui-datagrid" style="width:100%;margin-top: 5px;height:auto"></table>
	    							</div>
                				</div>
                			</td>
		    			</tr>-->
		    		</table>
		    	</div>
			</div>
			<!-- 鉴定记录弹窗 --> 
			<div id="historyIdentifyDig" class="easyui-dialog" data-options="closed:true">
				<table id="historyIdentifyTable" style="width:600px;height:400px" class="easyui-datagrid">
				</table>
			</div>
			
			
  </body>
</html>
