<!DOCTYPE html>
<html>
  <head>
    <title>work_am.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
	<form id="work_am"  class="easyui-form" method="POST"><!-- 
		<input name="listId" type="hidden"> -->
		<table style="border-collapse: separate;border-spacing: 8px;">
  			<tr>
  				<td style="text-align: right;">公司名称</td>
  				<td><input id="unitNameWork" name="unitName" class="easyui-textbox" style="width: 170px;"></td>
  			</tr>
  			<tr>
  				<td style="text-align: right;">工作岗位</td>
  				<td><input id="jobPositionWork" name="jobPosition" class="easyui-textbox" style="width: 170px;"></td>
  			</tr>
  			<tr>
  				<td style="text-align: right;width: 100px;">开始时间&nbsp;</td>
  				<td ><input id="startTimeWork" name="startTime" class="easyui-datebox" style="width: 170px;"  data-options="editable:false"></td>
  			</tr>
  			<tr>
  				<td style="text-align: right;width: 100px;">结束时间&nbsp;</td>
  				<td ><input id="endTimeWork" name="endTime" class="easyui-datebox" style="width: 170px;"  data-options="editable:false"></td>
  			</tr>

  			<tr>
  				<td style="text-align: right;">工作职责</td>
  				<td><input id="workScopeWork" name="workScope" class="easyui-textbox" style="width: 170px;"></td>
  			</tr>
  			<tr>
  				<td style="text-align: right;">工作地点</td>
  				<td><input id="workAreaWork" name="workArea" class="easyui-textbox" style="width: 170px;"></td>
  			</tr>
  		</table>  			
  	</form>
  </body>
</html>
