<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>悦木森员工账号注册</title>
<link rel="stylesheet" type="text/css" href="../../css/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="../../css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../../css/common/main.css" />
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
<script type="text/javascript" src="js/register.js"></script>
<script src="../../js/easyui-lang-zh_CN.js"></script>
<script>
		$(document).ready(function() {
			 //粒子背景特效
			 $('body').particleground({
			dotColor: 'rgba(42,119,168,0.4)',
			lineColor: 'rgba(37,103,144,0.7)'
			 });
		});
	</script>
</head>
<body>
	<input class="easyui-textbox">
</body>
</html>