<!DOCTYPE html>
<html>
	<head >
    	<title>商品典当</title>
    	<meta charset="UTF-8">
    	<meta name="content-type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="../../gmodule/js/pageStacker.js"></script>
    	<script type="text/javascript" src="../busiConsignSale/js/revoke.js"></script>
	</head>
  
	<body>
		<div id="detailsPage" style="width: 100%;padding:0;margin:0;background:white;border:0px solid rgba(204, 204, 204, 1);float:left">
		    	
		    	<!-- 详情 -->
		    	<div style="width:100%;float:left;padding:0;margin:0;border-top:0px solid rgba(204, 204, 204, 1);font-size: 14px;">
		    	
		    		<table style="width:100%;height:100%">
		    			<tr>
		    				<td style="width:100%">
		    					<div id="p" class="easyui-panel" title="客户资料"     
        						style="width:100%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<form id="consignSaleRevokeMemberInfo_form" class="easyui-form" method="post">
	                					<table id="memberDetails_table" collapse="10px" style="width:100%;margin-top:5px;border:0px solid red" >
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							会员编号:
					    						</td>
					    						<td>
					    							<input id="memberId" name="memberId"  style="padding:0;margin:0;width:120px">
					    						</td>
					    					
					    						<td style="width:25%;text-align: right;">
					    							会员姓名:
					    						</td>
					    						<td>
					    							<input id="memberName" name="memberName"  style="padding:0;margin:0;width:120px">
					    						</td>
					    					</tr>
					    					<tr>
					    						<td  style="width:25%;text-align: right;">
					    							手机号码:
					    						</td>
					    						<td>
					    							<input id="mobile"  type="text" name="mobile"  style="padding:0;margin:0;width:120px">
					    						</td>
					    					
					    						<td style="width:25%;text-align: right;">
					    							证件号码:
					    						</td>
					    						<td>
					    							<input  id="certNo" name="certNo"  style="padding:0;margin:0;width:120px">
					    						</td>
					    					</tr >
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							账户名称:
					    						</td>
					    						<td>
					    							<input id="accountName" name="accountName" style="padding:0;margin:0;width:120px">
					    						</td>
					    					
					    						<td style="width:25%;text-align: right;">
					    							开户银行:
					    						</td>
					    						<td>
					    							<input id="bankName" name="bankName"  style="padding:0;margin:0;width:120px">
					    						</td>
					    					</tr>
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							银行卡号:
					    						</td>
					    						<td>
					    							<input id="account" name="account"  style="padding:0;margin:0;width:120px">
					    						</td>
					    					</tr>
				    					</table>
			    					</form>
                				</div>
		    				</td>
		    			</tr>
		    			<tr>
		    				<td style="width:100%">
		    					<div id="p" class="easyui-panel" title="商品资料"     
        						style="width:100%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<form id="consignSaleRevokeGoodsForm" class="easyui-form" method="post">
		    							<table style="width: 100%;margin-top: 5px" >
		    								<tr>
	    										<td style="width:25%;text-align: right">商品编号:</td>
	    										<td style="width:25%;"><span id="consignSaleRevokegoodsIdPP" style="padding:0;margin:0;width:120px;display: inline-block;"></span></td>
	    									
	    										<td style="width:25%;text-align: right">商品名称:</td>
	    										<td style="width:25%;"><span  id="consignSaleRevokegoodsNamePP" style="padding:0;margin:0;width:120px"></span></td>
	    									</tr>
	    									
	    									<tr>
	    										<td style="width:25%;text-align: right">官方价:</td>
	    										<td style="width:25%;"><span  id="consignSaleRevokeofficialPricePP" style="padding:0;margin:0;width:120px"></span>元</td>
	    									
	    										<td style="width:25%;text-align: right">评估价:</td>
	    										<td colspan=""><span id="consignSaleRevokevaluationPricePP" style="padding:0;margin:0;width:120px"></span>元</td>
	    									</tr>
	    									<tr>
	    										<td style="width:25%;text-align: right">收购价:</td>
	    										<td style="width:25%;"><span id="consignSalePurchaseAmountPP" style="padding:0;margin:0;width:120px"></span>元</td>
	    									
	    										<td style="width:25%;text-align: right">售卖价:</td>
	    										<td style="width:25%;"><span id="consignSalesellingPricePP" style="padding:0;margin:0;width:120px"></span>元</td>
	    									</tr>
	    									<tr>
	    										<td style="width:25%;text-align: right">客户首买价:</td>
	    										<td style="width:25%;"><span id="consignSaleRevokefirstPricePP" style="padding:0;margin:0;width:120px"></span>元</td>
	    									</tr>
	    								</table>
		    						</form>
                				</div>
                			</td>
		    			</tr>
		    			<tr>
		    				<td style="width:100%">
		    					<div id="p" class="easyui-panel" title="收货协议"     
        						style="width:100%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<form id="consignSaleAuditForm" class="easyui-form" method="post">
		    							<table style="width: 100%;margin-top: 5px">
			    							<tr>
					    						<td style="width:25%;text-align: right;">
					    							协议编号:
					    						</td>
					    						<td>
					    							<input id="consignSaleAuditCodeP" name="agreementCode"  style="padding:0;margin:0;width:240px">
					    						</td>
					    					</tr>
					    					
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							寄卖最低价:
					    						</td>
					    						<td>
					    							<input id="auditbottomPriceP" name="bottomPrice"  style="padding:0;margin:0;width:240px">
					    						</td>
					    					</tr >
					    					<tr>
					    						<td style="width:25%;text-align: right;">
					    							服务费:
					    						</td>
					    						<td>
					    							<input id="auditserviceChargeP" name="serviceCharge"  style="padding:0;margin:0;width:240px">
					    						</td>
					    					</tr>
	    								</table>
		    						</form>
                				</div>
                			</td>
		    			</tr>
		    			<tr>
		    				<td style="width:100%">
		    					<div id="p" class="easyui-panel" title="操作记录"     
        						style="width:100%;height:auto;padding:10px;background:#fafafa;"   
        						data-options="closable:false,    
                				collapsible:false,minimizable:false,maximizable:false">
                					<div id="goodsImages"  style="width:100%;height:100%;margin:auto;border:0px red solid;text-align: center">
		    							
		    							<div id="ShowHistoryIdentifyItems" >
		    								<table id="consignSaleRevokeShowhistoryLogTable" class="easyui-datagrid" style="width:100%;margin-top: 5px;height:auto"></table>
		    							</div>
   									</div>
                				</div>
                			</td>
		    			</tr>
		    		</table>
		    	</div>
			</div>
		
		
			<!-- form表单按钮 -->
		<div id="sale_form">
			<a id="revoke" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" onclick="revoke(1)">撤回</a>
			<a id="renewal" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="renewal()">续期</a>
			<a id="cancel" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="cancelStartProcess()">取消</a>
		</div>
		
		<!-- 续期弹出框 -->
		<!-- 重申form表单加载容器 -->
		<div id="renewalDig" style="overflow-x:hidden;" class="easyui-dialog" data-options="closed:true,modal:true,buttons:'#renewalDig_Btn'" >
			续期至:<input id="renewalTime" type="text" class="easyui-datetimebox" style="width:160px" data-options="editable:false">
		</div>
		<div id="renewalDig_Btn">
			<a  class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="revoke(0)">确定</a>
			<a  class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="cancelRenewal()">取消</a>
		</div>
	</body>
</html>