<form>

    <div class="easyui-panel" title='楼盘信息' data-options="width:635,resizable:true,collapsible:true" style="padding:15px;">
        <div>
            <table>
                <tr>
                    <td width="100%">
                        <label>地&emsp;&emsp;&emsp;址 :&nbsp;&nbsp;</label>
                        <span name="cityName" style="width:66%"></span>
                        <span name="areaName" style="width:66%"></span>
                        <span name="subAreaName" style="width:66%"></span>
                    </td>
                </tr>
            </table>
        </div>
        <table width="100%">
            <tr>
                <td width="50%">
                    <label>拼&nbsp;音&nbsp;缩&nbsp;写&nbsp;:</label>
                    <span name="abbreviation" style="width:66%"></span>
                </td>

                <td width="50%">
                    <label>接&nbsp;盘&nbsp;时&nbsp;间&nbsp;:</label>
                    <span name="acceptDate" style="width:73%"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>楼&nbsp;盘&nbsp;别&nbsp;名&nbsp;:</label>
                    <span name="estateAlias" style="width:66%"></span>
                </td>

                <td style="">
                    <label>产&nbsp;权&nbsp;年&nbsp;限&nbsp;:</label>
                    <span name="propertyAge" style="width:73%"></span>
                </td>

            </tr>

            <tr>
                <td>
                    <label>物&nbsp;业&nbsp;用&nbsp;途&nbsp;:</label>
                    <span name="propertyUse" style="width:66%"></span>
                </td>

                <td style="">
                    <label>物&nbsp;业&nbsp;类&nbsp;型&nbsp;:</label>
                    <span name="propertyType" style="width:73%"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <label>售&emsp;均&emsp;价&nbsp;:</label>
                    <span name="saleAveragePrice" style="width:66%"></span><span>元</span>
                </td>

                <td style="">
                    <label>物&emsp;业&emsp;费&nbsp;:</label>
                    <span name="propertyManagementFee" style="width:73%"></span><span>元</span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label>地&emsp;&emsp;&emsp;铁&nbsp;:</label>
                    <span name="metroNo" style="width:86%"></span>
                </td>

            </tr>

            <tr>
                <td style="" colspan="4">
                    <label>概&nbsp;要&nbsp;地&nbsp;址&nbsp;:</label>
                    <span name="summaryAddress" style="width:86%"></span>
                </td>

            </tr>
            <tr>
                <td colspan="3">
                    <label>详&nbsp;细&nbsp;地&nbsp;址&nbsp;:</label>
                    <span name="detailAddress" style="width:86%"></span>
                </td>

            </tr>

            <tr>
                <td style="">
                    <label>建&nbsp;筑&nbsp;面&nbsp;积&nbsp;:</label>
                    <span name="areaOfStructure" style="width:66%"></span><span>m³</span>
                </td>

                <td>
                    <label>结&emsp;&emsp;&emsp;构&nbsp;:</label>
                    <span name="structureType" style="width:73%"></span>
                </td>

            </tr>
            <tr>

                <td style="">
                    <label>总&emsp;户&emsp;数&nbsp;:</label>
                    <span name="totalHomeCount" style="width:66%"></span><span>户</span>
                </td>

                <td>
                    <label>外&emsp;&emsp;&emsp;墙&nbsp;:</label>
                    <span name="outterWallType" style="width:73%"></span>
                </td>

            </tr>
            <tr>

                <td style="">
                    <label>开&emsp;发&emsp;商&nbsp;:</label>
                    <span name="developerName" style="width:66%"></span>
                </td>

                <td>
                    <label>电&emsp;&emsp;&emsp;话&nbsp;:</label>
                    <span name="developerTel" style="width:73%"></span>
                </td>
            </tr>
            <tr>

                <td style="">
                    <label>物&nbsp;业&nbsp;公&nbsp;司&nbsp;:</label>
                    <sapn name="pmCompanyName" style="width:66%"></span>
                </td>

                <td>
                    <label>电&emsp;&emsp;&emsp;话&nbsp;:</label>
                    <span name="pmCompanyTel" style="width:73%"></span>
                </td>
            </tr>

        </table>
    </div>

    <!-- 设置 空白间距 -->
    <div style="margin-top:5px;"></div>

    <div class="easyui-panel" title='楼盘周边' data-options="width:635,resizable:true,collapsible:true" style="padding:15px">
        <table width="100%">
            <tr>
                <td width="50%">
                    <label style="padding-bottom:5px;line-height:25px;">物&nbsp;业&nbsp;介&nbsp;绍&nbsp;:</label>
                    <span name="pmCompanyIntro"></span>
                </td>
                <td width="50%">
                    <label style="padding-bottom:5px;line-height:25px;">学&nbsp;校&nbsp;教&nbsp;育&nbsp;:</label>
                    <span name="educationIntro"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="padding-bottom:5px;line-height:25px;">休&nbsp;闲&nbsp;娱&nbsp;乐&nbsp;:</label>
                    <span name="entertainmentIntro"></span>
                </td>
                <td>
                    <label style="padding-bottom:5px;line-height:25px;">交&nbsp;通&nbsp;设&nbsp;施&nbsp;:</label>
                    <span name="transportIntro"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="padding-bottom:5px;line-height:25px;">商&nbsp;业&nbsp;百&nbsp;货&nbsp;:</label>
                    <span name="commercialIntro"></span>
                </td>
                <td>
                    <label style="padding-bottom:5px;line-height:25px;">备&emsp;&emsp;&emsp;注&nbsp;:</label>
                    <span name="remark"></span>
                </td>
            </tr>
        </table>
    </div>
</form>